.blob {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 60%;
    background: var(--ifm-blob-background);
    position: absolute;
    translate: -50% -50%;
    animation: rotate 5s infinite;
    opacity: .2;
    z-index: 0;
    pointer-events: none;
}

.blob__blur {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    right: 0;
    bottom: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    25% {
        scale: 1 1.5;
    }
    50% {
        scale: 1.5 1;
    }
    to {
        transform: rotate(360deg);
    }
}