[submodule "atala-prism-building-blocks"]
	path = atala-prism-building-blocks
	url = https://github.com/input-output-hk/atala-prism-building-blocks.git
	branch = main
[submodule "atala-prism-products"]
	path = atala-prism-products
	url = https://github.com/input-output-hk/atala-prism-products.git
	branch = main
[submodule "atala-prism-wallet-sdk-ts"]
	path = atala-prism-wallet-sdk-ts
	url = https://github.com/input-output-hk/atala-prism-wallet-sdk-ts.git
	branch = master
[submodule "atala-prism-wallet-sdk-swift"]
	path = atala-prism-wallet-sdk-swift
	url = https://github.com/input-output-hk/atala-prism-wallet-sdk-swift/
	branch = gh-pages
[submodule "atala-prism-wallet-sdk-kmm"]
	path = atala-prism-wallet-sdk-kmm
	url = https://github.com/input-output-hk/atala-prism-wallet-sdk-kmm.git
	branch = gh-pages
