@font-face {
  font-family: 'Poppins';
  src: url('/static/font/Poppins-Regular.woff2') format('woff2'),
  url('/static/font/Poppins-Regular.woff') format('woff'),
  url('/static/font/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/font/Poppins-Bold.woff2') format('woff2'),
  url('/static/font/Poppins-Bold.woff') format('woff'),
  url('/static/font/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/font/Poppins-SemiBold.woff2') format('woff2'),
  url('/static/font/Poppins-SemiBold.woff') format('woff'),
  url('/static/font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/font/Poppins-Medium.woff2') format('woff2'),
  url('/static/font/Poppins-Medium.woff') format('woff'),
  url('/static/font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/font/Poppins-SemiBoldItalic.woff2') format('woff2'),
  url('/static/font/Poppins-SemiBoldItalic.woff') format('woff'),
  url('/static/font/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html[data-theme="dark"] {
  --ifm-background-color: #101828;
  --ifm-color-primary: #767AF5;
  --ifm-footer-background-color: #1D2939;
}

:root {
  --ifm-color-primary: #5559F2;
  --ifm-color-primary-dark: #3038EC;
  --ifm-color-primary-darker: #2C2FE0;
  --ifm-color-primary-darkest: #2121D4;
  --ifm-color-primary-light: #767AF5;
  --ifm-color-primary-lighter: #A0A0f7;
  --ifm-color-primary-lightest: #C7C5FA;
  --ifm-footer-background-color: #F9FAFB;
  --ifm-code-font-size: 95%;
  --ifm-heading-font-weight: 600;
  --ifm-font-family-base: "Poppins", "sans-serif";
}

.navbar__title {
  font-weight: 600;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__search {
  padding-left: var(--ifm-navbar-padding-horizontal);
}

.version-number {
  color: var(--ifm-link-color);
}

