@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Space+Mono&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-Regular.woff2') format('woff2'),
    url('/static/font/Poppins-Regular.woff') format('woff'),
    url('/static/font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-Bold.woff2') format('woff2'),
    url('/static/font/Poppins-Bold.woff') format('woff'),
    url('/static/font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-SemiBold.woff2') format('woff2'),
    url('/static/font/Poppins-SemiBold.woff') format('woff'),
    url('/static/font/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-Medium.woff2') format('woff2'),
    url('/static/font/Poppins-Medium.woff') format('woff'),
    url('/static/font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-SemiBoldItalic.woff2') format('woff2'),
    url('/static/font/Poppins-SemiBoldItalic.woff') format('woff'),
    url('/static/font/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

html[data-theme="dark"] {
    --ifm-background-color: #101828;
    --ifm-color-primary: var(--ifm-color-primary-light);
    --ifm-footer-background-color: #1D2939;
    --ifm-resource-cards-background-color: var(--ifm-footer-background-color);
    --ifm-resource-cards-text-color: #fff;
    --ifm-resource-card-getstarted-background: linear-gradient(45deg, #101828, #475467);
    --ifm-navbar-background-color: rgba(16, 24, 40, .7);
    /*--ifm-hero-background-color: #1D2939;*/
    --ifm-hero-background-color: transparent;
    --ifm-hero-text-color: #fff;
    --ifm-resource-border-color: var(--ifm-color-gray-600);
    --ifm-blob-background: linear-gradient(to right, var(--ifm-color-primary), var(--ifm-color-primary-dark));
    --ifm-footer-hr-color: var(--ifm-color-gray-500);
    --ifm-color-resources-intro: #fff;
    --ifm-navbar-search-input-background-color: var(--ifm-color-gray-800);
    --ifm-navbar-search-input-icon: url("/static/img/search-icon-light.svg");
    --ifm-navbar-search-input-border-color: var(--ifm-color-gray-600);
}

:root {
    --ifm-resource-border-color: transparent;
    --ifm-blob-background: linear-gradient(to right, var(--ifm-color-primary), var(--ifm-color-primary-dark));
    --ifm-hero-background-color: transparent;
    --ifm-color-resources-intro: var(--ifm-color-gray-900);
    --ifm-hero-text-color: #000;
    --ifm-color-primary: #5559F2;
    --ifm-color-primary-dark: #3038EC;
    --ifm-color-primary-darker: #2C2FE0;
    --ifm-color-primary-darkest: #2121D4;
    --ifm-color-primary-light: #767AF5;
    --ifm-color-primary-lighter: #A0A0f7;
    --ifm-color-primary-lightest: #C7C5FA;
    --ifm-footer-background-color: #F9FAFB;
    --ifm-code-font-size: 95%;
    --ifm-heading-font-weight: 600;
    --ifm-font-family-base: "Poppins", "sans-serif";
    --ifm-color-gray-50: #F9FAFB;
    --ifm-color-gray-600: #475467;
    --ifm-color-gray-200: #EAECF0;
    --ifm-color-gray-300: #D0D5DD;
    --ifm-color-gray-500: #667085;
    --ifm-color-gray-900: #101828;
    --ifm-color-gray-800: #1D2939;
    --ifm-color-gray-700: #344054;
    --ifm-color-teal-300: #5FE9D0;
    --ifm-color-teal-400: #2ED3B7;
    --ifm-container-width: 1216px;
    --ifm-container-width-xl: 1216px;
    --ifm-resource-cards-background-color: var(--ifm-color-gray-50);
    --ifm-resource-cards-text-color: var(--ifm-color-gray-600);
    --ifm-resource-card-getstarted-background: linear-gradient(45deg, var(--ifm-color-primary-lightest), var(--ifm-color-gray-50));
    --ifm-navbar-background-color: rgba(255, 255, 255, .9);
    --ifm-footer-hr-color: var(--ifm-color-gray-200);
    --ifm-navbar-search-input-background-color: #fff;
    --ifm-navbar-search-input-icon: url("/static/img/search-icon-dark.svg");
    --ifm-navbar-search-input-border-color: var(--ifm-color-gray-300);
}
.navbar__inner {
    max-width: var(--ifm-container-width);
    margin: 0 auto;
}

.navbar__search-input {
    border: 1px solid var(--ifm-navbar-search-input-border-color);
}

@media screen and (min-width: 1440px) {
    .navbar__inner {
        max-width: var(--ifm-container-width-xl);
    }
}
.navbar--fixed-top {
    position: sticky;
    top: 0;
    z-index: var(--ifm-z-index-fixed);
    background-color: var(--ifm-navbar-background-color);
}

.navbar__link--active {
    font-weight: 600;
    text-decoration: none;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar__search {
    padding-left: var(--ifm-navbar-padding-horizontal);
    display: none;
}

.navbar__items {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex: unset;
}

.navbar__brand {
    /*justify-self: flex-end;*/
    /*margin-left: auto;*/
    /*display: block;*/
    order: 1;
}

.menu__list-item {
    margin: 1rem 0;
}

.navbar__toggle {
    order: 2;
    margin-right: 0;
}
.navbar-sidebar__brand {
    display: flex;
    justify-content: space-between;
}
.navbar-sidebar__brand .navbar__brand {
    order: 1;
    margin: 0;
    display: none;
}
.navbar-sidebar__backdrop {
    background: transparent;
}
.navbar-sidebar__brand .toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
    margin: 0 !important;
    order: 2;
}

.navbar-sidebar__brand .navbar-sidebar__close {
    order: 3;
    margin-left: 0;
}
.navbar-sidebar {
    left: auto;
    right: 0;
    transform: translate3d(100%, 0, 0);
    backdrop-filter: blur(16px);
}

@media screen and (min-width: 996px) {
    .navbar__brand {
        order: unset;
    }

    .navbar__toggle {
        order: unset;
    }
    .navbar__items {
        justify-content: flex-start;
        width: auto;
    }
    .navbar__search {
        display: inline-block;
    }

    .navbar__inner {
        padding: 0 var(--ifm-spacing-horizontal);
    }
}

.version-number {
    color: var(--ifm-link-color);
}
