.home__resources {
    padding: 0;
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    perspective: 10000px;
}

.home__resources__resource {
    background-color: var(--ifm-resource-cards-background-color);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none !important;
    position: relative;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    gap: 1rem;
}

.home__resources__resource p {
    font-size: 14px;
    margin-bottom: 0;
    max-width: 307px;
    color: var(--ifm-resource-cards-text-color);
}

.home__resources__resource h3 {
    align-self: center;
    margin-bottom: 0;
    font-size: 17px;
}

.resource__link {
    height: 20px;
    margin-left: auto;
    align-self: flex-end;
}