.home__resources {
    padding: 0;
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    perspective: 10000px;
}

.resource__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.resource__link {
    height: 20px;
    margin-left: auto;
    align-self: flex-end;
}

.resource__common p {
    font-size: 14px;
    margin-bottom: 0;
    max-width: 307px;
}

.resource__common h3 {
    align-self: center;
    margin-bottom: 0;
    font-size: 17px;
}

.resource__common {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    text-decoration: none !important;
}

.home__resources .resource__common h3, p {
    /*color: var(--ifm-color-gray-600);*/
    color: inherit;
}

.resource__active p {
    color: white;
}

.resource__inactive {
    background: var(--ifm-resource-cards-background-color);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    text-align: left;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    gap: 1rem;
    overflow: hidden;
}


.resource__content {
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 1;
}