:root {
    --graphic-height: auto;
}



.atala__graphic {
    position: relative;
    left: auto;
    right: 0;
    width: 100%;
    margin-left: auto;
}
.atala__graphic svg {
    padding-bottom: 5rem;
    transition: all ease-in-out;
    position: relative;
    margin-left: auto;
    display: block;
    left: auto;
    transform: translateX(clamp(0rem, 10vw, 20rem));
    width: clamp(20.25rem, 50vw, 56.25rem);
}


@media screen and (min-width: 1430px){
    .atala__graphic svg {
        transform: translateX(clamp(0rem, 10vw, 20rem)) ;
        width: clamp(40.25rem, 50vw, 56.25rem);
    }
}

.atala__graphic tspan  {
    fill: var(--ifm-color-primary);
}